<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h1>게시물 목록</h1>

<div th:if="${boardList.empty}">
    <P>등록된 게시물이 없습니다.</P>
</div>

<table th:if="${!boardList.empty}">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="board:${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{/board/view/{id}(id=${board.id})}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.name}"></td>
            <td th:text="${board.createdAt}"></td>

        </tr>
    </tbody>
</table>

<a href="/board/writeform">새 글 작성</a>
</body>
</html>