<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 정보 상세 페이지</title>
</head>
<body>
<h1>게시물 상세 정보</h1>

<h2 th:text="${board.title}"></h2>

<div>
    <p>작성자: <span th:text="${board.name}"></span></p>
    <p>작성일: <span th:text="${board.createdAt}"></span></p>
    <p> 수정일: <span th:text="${board.updatedAt}"></span></p>
</div>

<div>
    <h3>본문 내용</h3>
    <div th:text="${board.content}"></div>
</div>

<div style="margin-top: 20px">
    <a th:href="@{/board/list}">
        <button type="button">목록으로 돌아가기</button>
    </a>
    <a th:href="@{/board/updateform/{id}(id=${board.id})}">
        <button type="button">수정하기</button>
    </a>
    <a th:href="@{/board/deleteform/{id}(id=${board.id})}">
        <button type="button">삭제하기</button>
    </a>
</div>

</body>
</html>